@keyframes inAnimation {
    0%{
        bottom: -260vh;
    }
    100%{
        bottom: -200vh;
    }
}

.form{
    animation-name: inAnimation;
    animation-duration: 2s;
    z-index: 30000;
    width: 316px;
    opacity: 0.9;
    height: 50vh;
    background-color:rgb(129, 127, 127);
    
    margin-right: 20px;
    border-radius: 16px;
    display: flex;
    position: relative;

    bottom: -200vh;
    left : calc(100vw - 316px);
    justify-content: center;
    align-items: center;
    color: blue !important;
}
.footer{
    background-color: rgb(129, 127, 127);
    height: 61px;
    width: 100vw;
    /* position: absolute;
    bottom: -979px; */
    position: relative;
    bottom: -200vh;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 30;
}
.formuu{
    width: 50vw;
    height: 50vh;
    background-color: blue;
    opacity: 0;
    position: absolute;
    bottom: -61px;
    right: 0px;
}

.buttonMenu1{
    background-color: transparent !important;
    border: 0px solid !important;
    color: white !important;
}