.landingPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    align-items: center
}
.coverH{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    z-index: 1;

    
}
.image{
    background-image: url("../image/frontImage1.jpg");
    background-size: cover;
    position: absolute;
    right: 1.9vw;
    z-index: -1;
    
    width: 825px;
    height: 514px;
}
@media  screen and (max-width:1110px) {
    .image{
        width:555px;
        height: 346px;
    }
}

.textTitle{
    position: absolute;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.title{
    position: relative;
    width: 38vw;
    font-size: 4vw;
    text-align: center
}
.text{
    position: relative;
    width: 30vw;
    height: 40vh;
    color: grey;
    font-size: 1.7vw;
    text-align: center;
}