.navBar{
    position: fixed;
    z-index: 10000;
    width: 100vw;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(209, 206, 206);
}
.buttonMenu{
    margin-left: 20px;
    color: white !important;
    background-color: black !important;
    border: 0px  solid !important;
}
.buttonMenu:hover{
    border: 1px white solid !important;
}
.tr11:hover{
    color: red;

}

.logo{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    background-image: url("../image/logo.png");
    background-size: cover;
}