html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root{
  --principal-font: 'Kumbh Sans', sans-serif;
  --font-size: 12px;

  --bg-gradient: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));

  --primary-dark-color: hsl(238, 29%, 16%);
  --primary-soft-color: hsl(14, 88%, 65%);

  --neutral-dark-color: hsl(237, 12%, 33%);
  --neutral-soft-color: hsl(240, 6%, 50%);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
