.masterCard {
    position: relative;
    z-index: 0;
    width: 50%;
    aspect-ratio: 3/4.5;
    /* background-color: black; */
    color: white;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px 50px;
    border: black 1px solid;
    overflow: hidden;
    text-align: center;
}

.masterCard:hover {
    box-shadow: 5px 5px 5px rgb(56, 56, 56);
    opacity: 50%;
}

.imgComp {
    
    border-radius : 10px 50px 10px 50px ;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
}

.imgComp :hover {
    opacity: 50%;
}

